requests==2.32.4
tqdm==4.67.1
pandas==2.3.1
numpy==2.2.6
scipy==1.15.3
matplotlib==3.10.3
seaborn==0.13.2
plotly==6.2.0
h5py==3.14.0
anndata==0.11.4
jupyterlab==4.4.5
ipykernel==6.30.0
nbformat==5.10.4
nbclient==0.10.2
